{% extends '../layouts/base.html' %}

<!-- section title -->
{% block title %}
{{ page_title }}
{% endblock %}
<!-- end of section title -->

<!-- section custom css -->
{% block custom_css %}
<style>
  .dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -74px !important;
    margin-top: .7rem !important;
  }
</style>
{% endblock %}
<!-- end of section custom css -->

<!-- section content -->
{% block content %}
<h3><a href="{% url 'user.email' %}">Send Email</a></h3>
  <div class="alert alert-success text-center">Welcome <strong class="text-uppercase">{{ data.first_name }}</strong></div>
{% endblock %}
<!-- end of section content -->
